* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    line-height: 1.4;
    background: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(17,17,17,1) 100%); 
    color: #fff
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply
}

.grid-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 80px
}

h1 {
    margin-top: 0;
    font-size: 30px;
}
b {
    font-weight: 600;
    letter-spacing: .7px;
}
.green {
    color: #0bff22
}

.container {
    height: 100vh;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center
}

.step-wrap {
    position: relative;
}

.step-wrap::after,
.step-wrap::before {
    content: "";
    position: absolute;
    background: #0bff22;
    overflow: hidden;
    z-index: -1
}

.step-wrap::after {
    top: 10px;
    left: -40px;
    bottom: 0;
    width: 8px;
}

.step-wrap::before {
    left: -40px;
    bottom: 0;
    width: 50%;
    height: 8px;
}

.form-wrap {
    position: relative;
    padding: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
    z-index: 1
}

.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(40, 40, 40, .9);
    filter: blur(10px);
    z-index: -1
}

img {
    width: 100%;
    height: auto
}

input,
button,
.nobutton {
    display: inline-block;
    padding: 13px;
    margin-bottom: 18px;
    width: 100%;
    background: #eee;
    color: #111;
    text-align: center;
    border: none;
    font-size: 19px;
}