* {
    box-sizing: border-box;
}

:root {
    --color-accent: #0bff22
}

body {
    margin: 0;
    color: #fff;
    font-family: "Barlow", sans-serif;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("1.webp");
    background-position: 100% 24%;
    background-size: cover;
    background-repeat: no-repeat;
}

main::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6026610473290879) 100%); 
    opacity: .5;
    z-index: 0;
}

.container {
    max-width: 1020px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    z-index: 3;
}

h1 {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
}

h1 svg {
    width: 130px;
    margin-bottom: -2px;
}

p {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: .3px;
}

.form-wrap {
    position: relative;
    padding: 70px 50px 20px;
    max-width: 660px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 18px;
}

.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff61;
    filter: blur(90px);
    z-index: -1
}

.description,
.coupon-wrap {
    position: relative;
    margin-bottom: 60px;
}

.field-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 16px
}

.number {
    width: 71px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: var(--color-accent);
    font-weight: 800
}

.arrow {
    padding-bottom: 5px;
    transform: rotate(90deg);
    font-weight: 700;
}

.form-field {
    display: inline-block;
    padding: 12px;
    width: 100%;
    background: #eee;
    color: #111;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.form-field input {
    color: #111;
}

.text {
    background: transparent;
    color: #fff;
    border: 2px solid #fff
}

.text:active,
.text:focus,
.text:visited {
    border: 2px solid var(--color-accent);
    outline: none;
}

.button {
    cursor: pointer;
    transition: .2s ease-in-out;
}

.button:hover {
    background: var(--color-accent);
    color: #fff
}


.mb-0 {
    margin-bottom: 0;
}

.pt-0 {
    padding-bottom: 0;
}

@media(max-width:767px) {
    .mob-none {
        display: none;
    }
}

@media(min-width:767px) {
    .container {
        margin-bottom: 50px;
    }
    h1 {
        font-size: 44px;
    }

    h1 svg {
        width: 180px;
        margin-bottom: -2px;
    }

    .form-wrap {
        display: grid;
        grid-template-columns: 13fr 11fr;
        grid-gap: 80px;
    }

    .description::before {
        position: absolute;
        content: "";
        top: -30px;
        bottom: -30px;
        right: -40px;
        border-right: 1px solid #ffffff7a
    }
}