* {
    box-sizing: border-box;
}

:root {
    --color-accent: #0bff22
}

body {
    margin: 0;
    color: #fff;
    font-family: "Barlow", sans-serif;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("1.webp");
    background-position: 100% 24%;
    background-size: cover;
    background-repeat: no-repeat;
}

main::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(105.07deg, rgba(0, 0, 0, 0.83) 27.25%, rgba(0, 0, 0, 0.33) 98.39%);
    z-index: 0;
}

.container {
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    z-index: 3;
}

h1 {
    margin-top: 0;
    font-size: 44px;
    text-align: center;
}

h1 span {
    color: var(--color-accent);
}

p {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: .3px;
}

.form-wrap {
    position: relative;
    padding: 80px 50px 70px;
    max-width: 660px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
}

.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(228, 228, 228, 0.4);
    filter: blur(10px);
    z-index: -1
}

.description {
    position: relative;
}

.description::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -25px;
    border-right: 1px solid #fff;
}

.field-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.number{
    width: 68px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: var(--color-accent);
    font-weight: 600;
}

.arrow {
    padding-bottom: 5px;
    transform: rotate(90deg);
    font-weight: 700;
}

.form-field {
    display: inline-block;
    padding: 12px;
    width: 100%;
    background: #eee;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 7px;
    border: none;
}

.form-field input {
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: var(--color-accent)
}


.mb-0 {
    margin-bottom: 0;
}

.pt-0 {
    padding-bottom: 0;
}

@media(min-width:767px) {
    .form-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
}